<%- include('includes/header') %>
<body>
<div> 
    <div> Product pages </div>
    
    <div>name: <%=member.memberNick%> </div>
    
    <% products.map((value,key) => {  %>
        <p><%= value.productName %> - <%= value.productSize %> - <%= value.productPrice %></p>
  <%  } ) %>
</div>

</body>
<%- include('includes/footer') %>
